@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
  :root {
    --color-primary: #0d1323;
    --color-secondary: #1d4ed8;
    --color-neutral: #475569;

    --color-inverse: #6b7280;
    --color-inverse-active: #111827;

    --bg-primary: #eef2ff;
    --bg-secondary: #f9fafb;
    --bg-surface: #ffffff;

    --border-subtle: rgba(0, 0, 0, 0.08);
    --border-semibold: rgba(0, 0, 0, 0.15);
  }

  body {
    @apply font-poppins;
  }
}
